<footer>
    <div class="footer-left">
        <div>
            <span class="logo">[GH]</span>
        </div>
        <div>
            <span class="copyright">© Gabor Hozleiter 2024</span>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <img src="../../assets/img/Github button s3.png">
            <img src="../../assets/img/Email button s3.png">
            <img src="../../assets/img/Linkedin button s3.png">
        </div>
        <div>
            <span class="legal-notice">Legal notice</span>
        </div>
    </div>
</footer>
