<footer>
    
        <div class="logo-cont">
            <span class="logo">[GH]</span>
        </div>
        <div class="copyright-cont">
            <span class="copyright">© Gabor Hozleiter 2024</span>
        </div>
    
    
        <div class="icons-cont">
            <div>
                <img src="../../assets/img/Github button s3.png">
            </div>
            <div>
                <img src="../../assets/img/Email button s3.png">
            </div>
            <div>
                <img src="../../assets/img/Linkedin button s3.png">
            </div>
        </div>
        <div class="legal-notice-cont">
            <span class="legal-notice">Legal notice</span>
        </div>
    
</footer>
