<div class="about-me-cont" id="about-me">
    <div class="about-me-text-cont">
        <div>
            <span class="about-me-title">About me</span>
        </div>
        <div>
            <span class="about-me-description">I am a Front-end deverloper based in Hannover, Germany. I help designers and companies to 
                bring their ideas to real life.  Creativity and logical thinking are skills that I have developed to connect ideas into 
                quality products.
            </span>
        </div>
        <div>
            <span class="about-me-description">If you think I’d be a good match for your projects, contact me!</span>
        </div>
        <div>
            <button class="contact-button"><span class="button-text">Let’s talk</span></button>
        </div>
    </div>
    <div class="about-me-image-cont">
        <img class="profil-img" src="../../assets/img/gabor.jpg">
        <div class="img-border"></div>
    </div>
</div>
