<div class="about-me-cont" id="about-me">
    <div class="about-me-text-cont">
        <div>
            <span class="about-me-title">About me</span>
        </div>
        <div>
            <span class="about-me-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id recusandae fugit molestias nostrum neque impedit pariatur,
                 velit veritatis? Sint sunt ex hic corrupti maxime nulla, dolore ipsum delectus ad reprehenderit.
                 Sint sunt ex hic corrupti maxime nulla, dolore ipsum delectus ad reprehenderit.</span>
        </div>
        <div>
            <span class="about-me-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque minima.</span>
        </div>
        <div>
            <button class="contact-button"><span class="button-text">Let’s talk</span></button>
        </div>
    </div>
    <div class="about-me-image-cont">
        <img class="profil-img" src="../../assets/img/gabor.jpg">
    </div>
</div>
