.about-me-cont {
    height: 100vh;
    position: relative;
}

.about-me-text-cont {
    width: 619px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: calc((100vw - 1720px) / 2);
    gap: 52px;
    margin-top: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about-me-title {
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    white-space: nowrap;
    &:hover {
        color: #00BC8F;
    }
}

.about-me-description {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;   
}

.contact-button {
    width: 213px;
    height: 68px;
    padding: 20px 60px 20px 60px;
    gap: 10px;
    border: 4px solid #000000;
    cursor: pointer;
    &:hover {
        transform: scaleX(1.2);
        border: 6px solid #000000;
        .button-text {
            font-weight: 700;
        }
    }
}

.button-text {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
}

.profil-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1720px) / 2);
}

@media(max-width:1920px){
    .about-me-text-cont {
        left: 100px;
    }

    .profil-img {
        right: 100px;
    }
}