@import '../../styles.scss';

.about-me-cont {
    height: 840px;
    width: 1920px;
    max-width: 100%;
    position: relative;
    background-color: $cream;
}

.about-me-text-cont {
    width: 620px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 100px;
    gap: 52px;
    margin-top: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about-me-title {
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    white-space: nowrap;
    &:hover {
        color: #00BC8F;
        cursor: default;
    }
}

.about-me-description {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;   
}

.contact-button {
    width: 213px;
    height: 68px;
    padding: 20px 60px 20px 60px;
    gap: 10px;
    border: 4px solid #000000;
    cursor: pointer;
    &:hover {
        transform: scaleX(1.2);
        border: 6px solid #000000;
        .button-text {
            font-weight: 700;
        }
        &:active {
            background-color: #000000;
            color: $cream;
        }
    }
}

.button-text {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
}

.profil-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-border {
    width: 565px;
    height: 570px;
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
    right: 95px;
    z-index: 5;
    border: none;
    &:hover {
        margin-bottom: -25px;
        right: 80px;
        border: 5px solid black;
    }
}

@media(max-width:1920px){
    .about-me-text-cont {
        left: 100px;
    }

    .profil-img {
        right: 100px;
    }
}

@media(max-width:1450px){
    .about-me-text-cont {
        width: 570px;
    }
}

@media(max-width:1400px){
    .profil-img {
        width: 520px;
        height: 520px;
    }

    .img-border {
        width: 520px;
        height: 520px;
    }

    .about-me-cont {
        height: 790px;
    }
}

@media(max-width:1350px){
    .about-me-text-cont {
        width: 520px;
    }
}

@media(max-width:1300px){
    .profil-img {
        width: 470px;
        height: 470px;
    }

    .img-border {
        width: 470px;
        height: 470px;
    }

    .about-me-cont {
        height: 740px;
    }
}

@media(max-width:1250px){
    .about-me-text-cont {
        width: 470px;
    }
}

@media(max-width:1200px){
    .profil-img {
        width: 420px;
        height: 420px;
    }

    .img-border {
        width: 420px;
        height: 420px;
    }
}

@media(max-width:1150px){
    .about-me-text-cont {
        width: 420px;
    }
}

@media(max-width:1100px){
    .about-me-cont {
        height: calc(700px + (100vw - 200px));
    }

    .about-me-text-cont {
        width: calc(100vw - 200px);
        left: 100px;
        background-color: #00BC8F;
    }

    .profil-img {
        width: calc(100vw - 200px);
        left: 100px;
        height: calc(100vw - 200px);
        top: 690px;
    }

    .img-border {
        width: calc(100vw - 200px);
        left: 100px;
        height: calc(100vw - 200px);
        top: 695px;
    }

    .contact-button {
        display: none;
    }
}

@media(max-width:950px){
    .about-me-cont {
        height: calc(700px + (100vw - 100px));
    }

    .about-me-text-cont {
        width: calc(100vw - 100px);
        left: 50px;
        background-color: #00BC8F;
    }

    .profil-img {
        width: calc(100vw - 100px);
        left: 50px;
        height: calc(100vw - 100px);
        top: 690px;
    }

    .img-border {
        width: calc(100vw - 100px);
        left: 50px;
        height: calc(100vw - 100px);
        top: 695px;
    }
}

@media(max-width:700px){
    .about-me-title {
        font-size: 50px;
    }
}

@media(max-width:580px){
    .about-me-title {
        font-size: 40px;
    }
}

@media(max-width:400px){
    .about-me-cont {
        height: calc(700px + (100vw - 20px));
    }

    .about-me-text-cont {
        width: calc(100vw - 20px);
        left: 10px;
        background-color: #00BC8F;
    }

    .profil-img {
        width: calc(100vw - 20px);
        left: 10px;
        height: calc(100vw - 20px);
        top: 690px;
    }

    .img-border {
        width: calc(100vw - 20px);
        left: 10px;
        height: calc(100vw - 20px);
        top: 695px;
    }
}