<div class="contactform-cont">
    <div>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="name"></label>
                <input class="name-input" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="Your name" required (click)="nameInputActive()"
                    [ngClass]="{'activeNameInput' : nameInputfieldActive }">
                <div class="hide-title-name"><span class="hide-title">Your name</span></div>
                <div class="underline-name"></div>
                <div class="required-name-cont">
                    <span class="required">Your name is required</span>
                </div>
                <div class="name-error-cont">
                    <img src="../../assets/img/error.png">
                </div>
            </div>
            <div>
                <label for="email"></label>
                <input class="email-input" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    placeholder="Your email" required (click)="emailInputActive()" [ngClass]="{'activeEmailInput' : emailInputfieldActive }">
                <div class="hide-title-email"><span class="hide-title">Your email</span></div>
                <div class="underline-email"></div>
                <div class="required-email-cont">
                    <span class="required">Your email is required</span>
                </div>
                <div class="email-error-cont">
                    <img src="../../assets/img/error.png">
                </div>
            </div>
            <div>
                <label for="message"></label>
                <textarea [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message"
                    required (click)="messageInputActive()" [ngClass]="{'activeMessageInput' : messageInputfieldActive }"></textarea>
                <div class="hide-title-message"><span class="hide-title">Your message</span></div>
                <div class="underline-message"></div>
            </div>
            <div>
                <input type="submit" value="">
            </div>
            <div class="required-message-cont">
                <span class="required">Your email is required</span>
            </div>
            <div class="message-error-cont">
                <img src="../../assets/img/error.png">
            </div>
        </form>
    </div>
    <div class="bottom-cont">
        <div class="privacy-policy-cont">
            <div>
                <img src="../../assets/img/check_box.png">
            </div>
            <div>
                <span>I've read the</span>
            </div>
            <div class="green-text-cont">
                <a href="">privacy policy</a>
            </div>
            <div>
                <span>and agree to the processing of my data as outlined.</span>
            </div>
        </div>
        <div>
            <button class="send-message-btn">Send message</button>
        </div>
    </div>
    <div class="arrow-top-cont">
        <a href="#landing-page">
            <img src="../../assets/img/arrow_top.png">
        </a>
    </div>
</div>