@import '../../styles.scss';

.contactform-cont {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

input, textarea{
    background-color: black;
    border: none;
}

input::placeholder, textarea::placeholder, .hide-title {
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #FFFCF3;
}

.name-input, .email-input {
    width: 617px;
    height: 42px;
    border: 4px solid black;
    padding: 4px 25px;
    margin-bottom: 50px;
    color: #FFFCF3;
    cursor: pointer;
    outline: none;
    &:hover {
        border: 4px solid #FFFCF3;
    }
}

.activeNameInput {
    width: 623px;
    height: 42px;
    padding: 4px 25px;
    margin-bottom: 53px;
    margin-top: 2px;
    color: #FFFCF3;
    cursor: pointer;
    border: 2px solid #FFFCF3;
    .required-name-cont {
        top: 56px;
     }
    &:hover {
        border: 2px solid #FFFCF3;
    }
}

.activeEmailInput {
    width: 623px;
    height: 42px;
    padding: 4px 25px;
    margin-bottom: 53px;
    margin-top: 2px;
    color: #FFFCF3;
    cursor: pointer;
    border: 2px solid #FFFCF3;
    .required-name-cont {
        top: 56px;
     }
    &:hover {
        border: 2px solid #FFFCF3;
    }
}

.activeMessageInput {
    width: 623px;
    height: 208px;
    padding: 4px 25px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #FFFCF3;
    cursor: pointer;
    border: 2px solid #FFFCF3;
    .required-name-cont {
        top: 56px;
     }
    &:hover {
        border: 2px solid #FFFCF3;
    }
}

.hide-title-name {
    position: absolute;
    width: 90px;
    height: 20px;
    background-color: black;
    white-space: nowrap;
    top: -8px;
    left: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-title-email {
    position: absolute;
    width: 90px;
    height: 20px;
    background-color: black;
    white-space: nowrap;
    top: 101px;
    left: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-title-message {
    position: absolute;
    width: 110px;
    height: 20px;
    background-color: black;
    white-space: nowrap;
    top: 209px;
    left: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 617px;
    height: 200px;
    border: 4px solid black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px;
    padding-top: 12px;
    color: #FFFCF3;
    cursor: pointer;
    outline: none;
    &:hover {
        border: 4px solid #FFFCF3;
    }
}

.underline-name {
    position: absolute;
    top: 54px;
    width: 675px;
    height: 2px;
    background-color: #FFFCF3;
}

.underline-email {
    position: absolute;
    top: 162px;
    width: 675px;
    height: 2px;
    background-color: #FFFCF3;
}

.underline-message {
    position: absolute;
    top: 436px;
    width: 675px;
    height: 2px;
    background-color: #FFFCF3;
}

span {
    font-family: 'Overpass';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #FFFCF3;
}

a {
    text-decoration: none;
    font-family: Overpass;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #00BC8F;
    &:hover {
        font-weight: bold;
    }
}

.privacy-policy-cont {
    display: flex;
    width: 680px;
    margin-bottom: 32px;
}

.green-text-cont {
    width: 99px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.send-message-btn {
    width: 270px;
    height: 68px;
    padding: 20px 60px 20px 60px;
    gap: 10px;
    border: 4px solid #BBBBBB;
    opacity: 0.3px;
    background-color: black;
    color: #BBBBBB;
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.arrow-top-cont {
    width: 54px;
    height: 76px;
    position: absolute;
    right: 0;
    top: 520px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.required {
    color: $alert;
    font-size: 12px;
}

.required-name-cont {
   position: absolute;
   top: 60px;
}

.required-email-cont {
    position: absolute;
    top: 170px;
}

.required-message-cont {
    position: absolute;
    top: 445px;
}

.name-error-cont {
    position: absolute;
    top: 15px;
    right: 180px;
}

.email-error-cont {
    position: absolute;
    top: 125px;
    right: 180px;
}

.message-error-cont {
    position: absolute;
    top: 230px;
    right: 180px;
}

@media(max-width:1200px){
    .hide-title-name, .hide-title-email, .hide-title-message {
        left: calc(50vw - 413px);
    }

    .name-error-cont, .email-error-cont, .message-error-cont{
        right: calc((100vw - 846px) / 2);
    }
}

@media(max-width:950px){
    .hide-title-name, .hide-title-email, .hide-title-message {
        left: calc(50vw - 363px);
    }

    .name-error-cont, .email-error-cont, .message-error-cont{
        right: calc((100vw - 746px) / 2);
    }
}

@media(max-width:780px){
    .underline-name, .underline-email, .underline-message {
        width: calc(100vw - 92px);
    }
}

