<nav>
    <div>
        <span class="logo">[GH]</span>
    </div>
    <div>
        @if(!openedMenu){
            <img class="menu-icon" src="../../assets/img/burger menu.png" (click)="openMenu()">
            
        }@else {
            <img class="menu-icon" src="../../assets/img/menu close.png" (click)="closeMenu()">
        }
    </div>
</nav>
<div class="opened-menu" [ngClass]="{'d-flex' : openedMenu}">
    <div class="animation-cont">
        <a href="#about-me"><span class="menu-item"  >About me</span></a>
        
    </div>
    <div class="animation-cont">
        <span class="menu-item">My Skills</span>
    </div>
    <div class="animation-cont">
        <span class="menu-item" >Portfolio</span>
    </div>
    <div class="animation-cont">
        <span class="menu-item">de | en</span> 
    </div>
</div>
