<div class="contact-cont" id="contact-cont">
    <div class="aslant-bg-cont">
        <img src="../../assets/img/Rectangle 5.png" class="aslant-bg">
    </div>
    <div class="say-hi-cont">
        <span class="say-hi">Say Hi!</span>
    </div>
    <div class="contactform-cont">
        <div class="contactform-question-cont">
            <span class="contactform-question">Want to discuss a new project?</span>
        </div>
        <div class="contactform-answer-cont">
            <span class="contactform-answer">Say hello! let's discuss your ideas and make it happen</span>
        </div>
        <div class="contactform">
            <app-contactform></app-contactform> 
        </div>
    </div>
</div>
