@import '../../styles.scss';

.contact-cont {
    height: 1414px;
    position: relative;
    background-color: $cream;
}

.aslant-bg-cont {
    position: absolute;
    left: 0;
    top: 0;
}

.aslant-bg {
    min-height: 1414px;
    object-fit: cover;
}

.say-hi-cont {
    position: absolute;
    left: 60px;
    width: 500px;
    height: 100px;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.say-hi {
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFCF3;
}

.contactform-cont {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 550px;
    left: 460px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contactform {
    width: 100%;
    height: 800px;
    //background-color: aqua;
}

.contactform-question {
    font-family: 'Overpass';
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
    color: #00BC8F;
}

.contactform-answer-cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contactform-answer {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: center;    
    color:  #FFFCF3;
}

@media(max-width:1920px){
    .contact-cont {
        width: 100vw;
        max-width: 100%;
        }

    .aslant-bg {
        width: 100vw;
        }

    .contactform-cont {
        left: calc(50% - 500px);
    }
}

@media(max-width:1200px){
    .contactform-cont {
        width: calc(100vw - 200px);
        left: 100px;
    }
}

@media(max-width:950px){
    .say-hi-cont {
        width: 450px;
        height: 90px;
        left: 40px;
    }
    .contactform-cont {
        width: calc(100vw - 100px);
        left: 50px;
    }
}

@media(max-width:700px){
    .say-hi {
        font-size: 50px;
    }
    .say-hi-cont {
        width: 350px;
        height: 70px;
        left: 10px;
     }
}

@media(max-width:660px){
    .contactform-question-cont {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:530px){
    .say-hi {
        font-size: 40px;
    }
    .say-hi-cont {
        width: 250px;
        height: 60px;
        left: 35px;
     }
}

@media(max-width:400px){
    .say-hi-cont {
        left: 0px;
    }
    .contactform-cont {
        width: calc(100vw - 20px);
        left: 10px;
    }
}