<div class="portfolio-project-cont" (mouseover)="animation1()" (mouseout)="animation2()" *ngFor="let project of projects; let i = index">
    <div class="portfolio-project portfolio-background">
        <div class="hovered-border-cont">
            <img class="rotated-arrow" src="../../assets/img/arrow-rotated.png">
        </div>
    </div>
    <div class="portfolio-description-cont">
        <div class="portfolio-number portfolio-number-position1">
            <span class="">{{ project.number }}</span>
        </div> 
        <div class="moved-cont" [ngClass]="{'cont-move' : !contPositionHide , 'cont-remove' : contPositionHide}">
            <div class="portfolio-description">
                <div>
                    <span class="portfolio-description-title">{{ project.name }}</span>
                </div>
                <div>
                    <span class="portfolio-description-skills">{{ project.skills }}</span>
                </div>
                <div>
                    <div class="description-cont">
                        <span class="description">{{ project.description }}</span>
                    </div>
                    
                </div>
                <div class="button-cont">
                    <div>
                        <a href="{{ project.testLink }}">
                            <button class="contact-button">
                                <span class="button-text">Live test</span>
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ project.githubLink }}">
                            <button class="contact-button">
                                <span class="button-text">Github</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
