<div class="portfolio-cont" id="portfolio">
    <div class="arrow-cont">
        <img src="../../assets/img/arrow-left-2.png">
    </div>
    <div class="portfolio-title-cont">
        <div>
            <span class="portfolio-title">Portfolio</span>
        </div>
       <div class="portfolio-subtitle-cont">
            <span class="portfolio-subtitle">Explore a selection of my work here - Interact with projects to see my skills in action.</span>
       </div>
    </div>
    <div class="portfolio-show-cont">
        <app-portfolio-project></app-portfolio-project>
    </div>
</div>
