@import '../../styles.scss';

.portfolio-cont {
    height: 1700px;
    position: relative;
    background-color: $cream;
}

.arrow-cont {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 150px;
    left: 100px ;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transform: rotateY(180deg);
}

.portfolio-title-cont {
    width: 540px;
    height: 160px;
    position: absolute;
    top: 550px;
    left: 690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &:hover {
        .portfolio-title {
            color: #00BC8F;
        }
    }
}

.portfolio-title {
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: default;
}

.portfolio-subtitle-cont {
    margin-left: 4px;
}

.portfolio-subtitle {
    font-family: 'Overpass';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
}

.portfolio-show-cont {
    width: 1720px;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    top: 800px;
    left: 100px;
}

@media(max-width:1920px) {
    .portfolio-show-cont {
    width: calc(100% - 200px);
    }

    .portfolio-title-cont {
        width: 540px;
        height: 160px;
        position: absolute;
        top: 550px;
        left: calc(50vw - 270px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        &:hover {
            .portfolio-title {
                color: #00BC8F;
            }
        }
    }
}