<div class="my-skills-cont" id="my-skills">
    <div class="arrow-cont">
        <img src="../../assets/img/arrow-left-2.png">
    </div>
    <div class="skills-title-cont">
        <span class="skills-title">My skills</span>
    </div>
    <div class="skills-icons-cont">
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Angular.png" class="skills-icon">
            <span class="skill">Angular</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Typescript.png" class="skills-icon">
            <span class="skill">TypeScript</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=JavScript.png" class="skills-icon">
            <span class="skill">JavaScript</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Api (1).png" class="skills-icon">
            <span class="skill">Rest-Api</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=html.png" class="skills-icon">
            <span class="skill">HTML</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=css.png" class="skills-icon">
            <span class="skill">CSS</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Scrum.png" class="skills-icon">
            <span class="skill">Scrum</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Firebase.png" class="skills-icon">
            <span class="skill">Firebase</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/Property 1=Test Automation.png" class="skills-icon">
            <span class="skill">Material Design</span>
        </div>
        <div class="icon-cont">
            <img src="../../assets/img/git.png" class="skills-icon">
            <span class="skill">Git</span>
        </div>
    </div>
</div>