<div class="my-skills-cont">
    <div class="arrow-cont">
        <img src="../../assets/img/arrow-left-2.png">
    </div>
    <div class="skills-title-cont">
        <span class="skills-title">My skills</span>
    </div>
    <div class="skills-icons-cont">
        
        <div>
            <div>
                <img src="../../assets/img/Property 1=Angular.png" class="skills-icon">
                <span>Angular</span>
            </div>
            <div>
                <img src="../../assets/img/Property 1=Typescript.png" class="skills-icon">
                <span>Typescript</span>
            </div>
            <img src="../../assets/img/Property 1=Api (1).png" class="skills-icon">
           
            <img src="../../assets/img/Property 1=JavScript.png" class="skills-icon">
            <img src="../../assets/img/Property 1=html.png" class="skills-icon">
            <img src="../../assets/img/Property 1=css.png" class="skills-icon">
            <img src="../../assets/img/Property 1=Scrum.png" class="skills-icon">
            <img src="../../assets/img/Property 1=Firebase.png" class="skills-icon">
            <img src="../../assets/img/Property 1=Test Automation.png" class="skills-icon">
            <img src="../../assets/img/git.png" class="skills-icon">
        </div>
    </div>
</div>
