
    <div class="landing-page-container">
        <div class="intro-cont">
            <div>
                <span class="intro-profession">Frontend</span>
            </div>
            <div>
                <span class="intro-profession">Developer</span>
            </div>
            <div class="intro-name-cont">
                <div class="balck-line"></div>
                <div>
                    <span class="intro-name">Gabor Hozleiter</span>
                </div>
            </div>
        </div>
        <div class="email-cont">
            <span class="email-adress">{{ email }}</span>
        </div>
        <div>
            <div class="scroll-cont-top">
                <span class="scroll-text">Scroll</span>
            </div>
            <div class="scroll-cont-bottom">
                <span class="scroll-text">Down</span>
            </div>
        </div>
    </div>

